packaging
triton
timm==0.5.4
pytest 
chardet 
yacs 
termcolor
submitit 
tensorboardX
fvcore
seaborn
hydra-core # for s4nd
pytorch_lightning # for s4nd
albumentations==1.4.18
opencv-python==4.11.0.86
matplotlib<3.8
scipy
scikit-learn
# torch
# torchvision
tqdm
pillow
numpy==1.26.3